@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');

#title_Estilection{
    font-family: 'Exo', sans-serif;
    text-align: center;
    font-size: 1000%;
    margin-top: 7%;
    letter-spacing: 30px;
}

#text_presentation{
    font-family: 'Exo', sans-serif;
    text-align: center;
    font-size: 200%;
    
    letter-spacing: 15px;
}

body { 
    background: url(images/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hamburger {
    top: 4%;
    left: 2%;
    position: absolute;
    height: 4%;
    width: auto;
}